@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
strong {
  font-style: bold;
  font-weight: 700;
}

.layout {
  width: 375px;
  height: 800px;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.hidden {
  display: none;
}

.overlay{
  position: fixed; 
  width: 375px; 
  height: 800px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.44); 
  z-index: 2;
}
.overlay ion-icon{
  font-size:20px;
  margin-left:2px;
}
.menu {
  position: fixed; 
  width: 259px; 
  height: 800px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#fff;
  z-index: 3;
  margin-left:120px;
}

.menu-title{
  padding-top:20px;
  margin-bottom:20px;
font-weight: 700;
font-size: 16px;display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.everyone{
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px;
}
.everyone ion-icon{
  font-size:20px;
  margin-left:20px;
}
.everyone span{
font-weight: 400;
font-size: 16px;
color: #000000;
margin-left:10px;
}
.participants{
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px;

}
.participants span{
  font-weight: 400;
 font-size: 16px;
 color: #000000;
 margin-left:10px;
}

.participants ion-icon{
    font-size:20px;
    margin-left:20px;
  }

.visibility-title{
font-weight: 400;
font-size: 16px;
color: #000000;
margin-left:20px;
margin-top:20px;
margin-bottom: 20px;
}

.public, .private {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px;
}

.public ion-icon, .private ion-icon{
  font-size:20px;
  margin-left:20px;
}

.header {
  grid-area: header;
  width: 375px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  width: 75px;
  height: 53px;
}
.header ion-icon {
  font-size: 42px;
}
.main {
  grid-area: main;
  background-color:#F3F3F3;
}

li {
  width: 375px;
  min-height: 40px;
  margin-top:1px;
  background-color: #FFFFFF;
  word-wrap: break-word;
  overflow-y: hidden;
  padding-top:10px;
}
.time {
  color: #AAAAAA;
}
.status {
  background: #dcdcdc;
}
.reserved {
  background: #ffdede;
}

.normal {
  background: #ffffff;
}

.footer {
  grid-area: footer;
  width: 375px;
  height: 80px;
  left: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.footer ion-icon {
  font-size: 26px;
}
ion-icon:hover{
  color:gray;
  cursor:pointer;
}
.footer input {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  border: none;
  background: none;
}

